@forward "index";

/* mobile styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.leading {
  font-family: "Gaegu", sans-serif;
  font-size: 26px;
}

.outer-link {
  color: var(--dark-magenta);
  font-weight: 700;
  &:hover {
    color: #c16620;
  }
}

.kitty,
.selfie {
  width: 40%;
  margin: 0 auto 20px;
}

.wave {
  svg {
    margin: -5px;
  }
}

/* ANIMATION */
.fade-in-text {
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* NAVIGATION */
.site-nav {
  margin: 0 1.25rem;
  h1 {
    color: var(--black);
    grid-column: 1/6; // adjust if you need more space
    grid-row: 1;
    padding: 0.6rem;
    border-bottom: 3px solid var(--magenta);
  }

  .nav-links {
    display: none;
    font-family: "Gaegu", sans-serif;
    font-size: 22px;
    a {
      color: var(--magenta);
    }
  }
}

/* HERO */

/* text animation */
.hello {
  font-weight: 700;
  position: relative;
  display: inline-block;
  animation: greeting 2s 1;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes greeting {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.hero {
  padding: 0 1.25rem 1.25rem 1.25rem;
  h1 {
    font-size: 45px;
    grid-column: 1/8;
    margin: 1.25rem 1.25rem 0.75rem 0;
    font-weight: 400;
  }

  .intro-text,
  .leading {
    grid-column: 1/6;
    line-height: 1.3;
    .hero-btn {
      margin: 0.6rem 0;
    }
  }

  .hero-image {
    img {
      width: 280%;
    }
    grid-column: 6/9;
    align-self: center;
  }
}

/* PROJECTS */
.project-bg {
  // background: url("../images/sun-tornado.svg");
  /* background by SVGbackgrounds.com */
  background: var(--magenta);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 1.25rem;
  margin: auto auto 0;

  .projects-header {
    color: var(--off-white);
    text-align: center;
    margin: 0;
    position: relative;
    top: -14px;
    font-family: "Gaegu", sans-serif;
    font-size: 35px;
  }
}

.project-grid {
  // display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.75rem;

  .card {
    .project-title {
      font-size: 20px;
      color: var(--magenta);
      padding: 5px 0 3px;
    }
    img {
      object-fit: cover;
    }
    h3 {
      margin: 0;
    }
    border-radius: 12px;
    grid-column: 1/9;
    text-align: center;
    background: var(--off-white);
    padding: 0.5rem;
    position: relative;
    transition: all 0.5s ease-in-out;
  }

  .controls {
    grid-row: 3;
    grid-column: 1/3;
    .button {
      margin: 0 6px;
      border: 3px solid var(--magenta);
      &:hover {
        border: 3px solid var(--dark-magenta);
        color: var(--off-white);
      }
      .fa-solid {
        padding-top: 3px;
      }
    }
  }
}

/* TECH AND TOOLS */
.tech-and-tools {
  background: none;
  border: 3px solid var(--gold-yellow);
  border-radius: 12px;
  padding: 20px;
  margin: 40px 25px;

  h2 {
    font-family: "Gaegu", sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0 0 13px;
    span {
      position: relative;
      top: 5px;
      display: inline-block;
      animation: bounce 0.5s ease infinite alternate;
      animation-delay: 0.1s;
      font-size: 33px;
    }
  }

  p {
    text-align: center;
    .title {
      font-weight: 700;
    }
  }
}

@keyframes bounce {
  100% {
    top: -4px;
  }
}

/*  CONTACT */
.contact {
  background: var(--light-pink);
  margin: 0 25px 82px;
  padding: 30px 20px;
  border-radius: 12px;
  color: var(--dark-magenta);

  h3 {
    margin: 0;
  }

  h3,
  p {
    text-align: center;
    margin-bottom: 0;
  }

  .leading {
    font-size: 35px;
  }

  form {
    width: 80%;
    // max-width: 400px;
    margin: 20px auto;
    text-align: center;
    label {
      font-family: "Gaegu", sans-serif;
      font-size: 22px;
    }
  }

  input,
  textarea {
    width: 100%;
    resize: none;
    margin: 7px 0;
  }
}

/* FOOTER */
footer {
  padding: 30px 20px;
  background: var(--gold-yellow);
  color: var(--off-white);
  height: 125px;

  .footer-section {
    position: relative;
    top: 22px;
  }

  .copyright {
    grid-column: 1/3;
    font-size: 0.8em;
  }

  .social {
    font-size: 32px;
    grid-column: 7/9;
    display: flex;
    justify-content: flex-end;
  }

  a {
    color: var(--off-white);
    &:hover {
      color: var(--off-white);
    }
  }

  li {
    margin: 0 6px;
  }
}

/* ABOUT */
.about {
  margin: 30px 25px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  h1,
  p {
    text-align: center;
  }
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .hero {
    .intro-text,
    .leading {
      grid-column: 1/5;
    }

    .hero-image {
      img {
        width: 100%;
      }
      grid-column: 5/9;
    }
  }

  .about {
    margin: 30px 55px 0;
  }

  .project-grid {
    margin: 0 auto;
    width: 65%;
  }

  .kitty {
    width: 25%;
  }

  .contact {
    margin: 0 auto 82px;
    width: 75%;
  }

  .tech-and-tools {
    margin: 40px auto;
    width: 75%;
  }
}

@media screen and (min-width: 800px) {
  .project-bg {
    .projects-header {
      font-size: 50px;
    }
  }
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
    width: 75%;

    .card {
      grid-column: auto;
    }
  }

  .hero {
    .intro-text {
      align-self: center;
    }
  }

  .tech-and-tools {
    width: 65%;
  }

  .hero,
  .tech-and-tools {
    max-width: 900px;
    margin: 0 auto;
  }

  .kitty {
    width: 18%;
  }

  .contact {
    width: 60%;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  .project-grid {
    width: 65%;
  }

  .tech-and-tools {
    width: 50%;
  }

  .hero,
  .project-grid,
  .tech-and-tools {
    max-width: 1060px;
    margin: 0 auto;
  }

  .kitty {
    width: 15%;
  }

  .contact {
    margin-bottom: 180px;
    width: 55%;
  }
}
