@forward "index";

/* mobile styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.leading {
  font-family: "Gaegu", sans-serif;
  font-size: 26px;
}

.outer-link {
  color: var(--dark-magenta);
  font-weight: 700;
  &:hover {
    color: var(--gold-yellow);
  }
}

.kitty {
  width: 40%;
  margin: 20px auto;
}

/* NAVIGATION */
.site-nav {
  margin: 0 1.25rem;
  h1 {
    color: var(--black);
    grid-column: 1/6; // adjust if you need more space
    grid-row: 1;
    padding: 0.6rem;
    border-bottom: 3px solid var(--magenta);
  }
  .nav-links {
    display: none;
    font-family: "Gaegu", sans-serif;
    font-size: 22px;
    a {
      color: var(--magenta);
    }
  }
}

/* HERO */

.greeting {
  /* text animation */
  span {
    position: relative;
    display: inline-block;
    animation: greeting 1s 1;
    animation-delay: calc(0.1s * var(--i));
  }
}

@keyframes greeting {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.hero {
  padding: 0 1.25rem 1.25rem 1.25rem;
  h1 {
    font-size: 45px;
    grid-column: 1/8;
    margin: 1.25rem 1.25rem 0.75rem 0;
    font-weight: 400;
  }
  .intro-text,
  .leading {
    grid-column: 1/6;
    line-height: 1.3;
    .hero-btn {
      margin: 0.6rem 0;
    }
  }
  .hero-image {
    img {
      width: 200%;
    }
    grid-column: 6/9;
  }
}

/* PROJECTS */
.project-bg {
  background: url("../images/sun-tornado.svg");
  /* background by SVGbackgrounds.com */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.9rem 1.25rem;
  .projects-header {
    color: var(--off-white);
    margin: 0;
    position: relative;
    top: -14px;
    font-family: "Gaegu", sans-serif;
    font-size: 35px;
  }
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  .card {
    .project-title {
      font-size: 20px;
      color: var(--magenta);
      padding: 5px 0 3px;
    }
    img {
      object-fit: cover;
    }
    h3 {
      margin: 0;
    }
    grid-column: 1/9;
    text-align: center;
    background: var(--off-white);
    padding: 0.5rem;
  }
  .controls {
    grid-row: 3;
    .button {
      margin: 0 6px;
      &:hover {
        border: 2px solid #5e9349;
        color: var(--off-white);
      }
    }
  }
}

/* TECH AND TOOLS */
.tech-and-tools {
  background: none;
  border: 3px solid var(--gold-yellow);
  border-radius: 12px;
  padding: 20px;
  margin: 25px;
  h2 {
    font-family: "Gaegu", sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0 0 13px;
  }
  p {
    text-align: center;
    .title {
      font-weight: 700;
    }
  }
}

/*  CONTACT */
.contact {
  background: var(--light-pink);
  margin: 0 auto 40px;
  width: 80%;
  padding: 30px 20px;
  border-radius: 12px;
  color: var(--dark-magenta);
  h3 {
    margin: 0;
  }
  h3,
  p {
    text-align: center;
    margin-bottom: 0;
  }
  .leading {
    font-size: 35px;
  }
  form {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
  }
  input,
  textarea {
    width: 100%;
    resize: none;
    margin: 7px 0;
  }
}

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablets and laptop styles */

@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
