@forward "index";

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablets and laptop styles */

@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  .card {
    text-align: center;
    background: lightgrey;
    padding: 1.25rem;
  }
}
